@page "/users"
@inject HttpClient Http
@rendermode @( new InteractiveWebAssemblyRenderMode(prerender: false))

@* @if (userDtos == null) *@
@* { *@
@*     <p><em>Loading...</em></p> *@
@* } *@
else
{
    <table class="table">
        <thead>
        <tr>
            <td>Email</td>
            <td>FirstName</td> 
            <td>LastName</td>  
            <td>Role</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in userDtos)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@string.Join(", ", user.Roles)</td>
        </tr>
    }
    </tbody>
    </table>
}

@code {

    List<UserDTO> userDtos = new List<UserDTO>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        var result = await Http.GetFromJsonAsync<List<UserDTO>>("api/users");
        if (result is not null)
        {
            userDtos = result;
        }
    }
    
    // {
    //     new UserDTO()
    //     {
    //         Roles = new List<string>()
    //         {
    //             new string("abc"),
    //             new string("dsasa"),
    //         },
    //         FirstName = "Mark",
    //         LastName = "Full",
    //         Email = "admin@gmail.com"
    //     },
    //     new UserDTO()
    //     {
    //         Roles = new List<string>()
    //         {
    //             new string("abc"),
    //             new string("dsasa"),
    //         },
    //         FirstName = "First",
    //         LastName = "Last",
    //         Email = "second@gmail.com"
    //     },
    //     new UserDTO()
    //     {
    //         Roles = new List<string>()
    //         {
    //             new string("abc"),
    //             new string("dsasa"),
    //         },
    //         FirstName = "Second",
    //         LastName = "Three",
    //         Email = "kjdasiajf@gmail.com"
    //     }
    //};
    
}
